.box {
  width: 100px;
  height: 100px;
  background-color: red;
  /* position: relative; */
  /* position: fixed; */
  /* position: sticky; */
  position: absolute;
  top: 0;
}

.parent {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: relative;
}

.child {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: green;
}

.child1 {
  height: 20px;
  width: 100px;
  z-index: 2;
  background-color: yellow;
}