div {
    text-align: right;
    background-color: yellow;
}

span {
    text-align: right;
    background-color: green;
}

p{
    line-height: 20px;
    letter-spacing: 20px;
    /* text-align: justify; */
}